
/*FONTS*/
@font-face {
    font-family: 'vigaregular';
    src: url('../fonts/viga-regular-webfont.woff2') format('woff2'),
         url('../fonts/viga-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/**/


html{
    box-sizing: border-box;
    font-size: 100%;
}

/*HAMBURGER MENU*/
.large_menu{
    display: none;
}

.dropdown {
    position:fixed;
    z-index: 999; 
}
.dropbtn {
    width:70px;
    height: 70px;
    border-radius:60%;
    cursor: pointer;
    z-index: 999;
    border: none;
    background-color: #9265A2;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.19);
    top:6rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100vw;
    height: 45rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:0;
}


.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    
    font-family: 'vigaregular';
    text-align: center;
    font-size: 5.7rem;
    padding-bottom: 7rem;
}

.dropdown-content a:hover {background-color: black;}


.show {
    display:flex;
    flex-flow: column nowrap;
}

#myDropdown #music{background-color: #F8AF9E;}
#myDropdown #videos{background-color: #187796;}
#myDropdown #about{background-color: #FFD23F;}
#myDropdown #contact{background-color: #F06380;}


/*Hamburger Bar Animation*/
button .bar1, .bar2, .bar3 {
    width: 40px;
    height: 6px;
    background-color: white;
    margin: 6px 8.5px;
    transition: 0.4s;
}


button.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}


button.change .bar2 {
    opacity: 0;
}


button.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/**/
/**/


#hero{
    max-width: 100%;
    height: 84.5vh;
    background-image: url("../img/empirestate_rain03.jpg");
}

#hero img{
    max-width: 100%;
    height: auto;
}

#hero .logo{
    position: absolute;
	right: 0;
    z-index: 9999;
}

#hero .logo img{
	max-width: 100%;
}

#hero .heroTITLE{
    position: absolute;
    text-align: center;
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: flex-end;
}

#hero .heroTITLE p{
    font-family: 'vigaregular';
    color: #FFD23F;
    text-shadow:
   -1px -1px 0 #FFD23F,  
    1px -1px 0 #FFD23F,
    -1px 1px 0 #FFD23F,
     1px 1px 0 #FFD23F;
    
    font-size:4rem;
}

.bttn{
    position: absolute;
	width: 100%;
	margin-top: 6%;
	text-align: center;
	cursor: pointer; cursor: hand;
}

.bttn a img{
	width: 20%;
}

.videos{
	display: flex;
    flex-flow: column nowrap;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.video{
	display: flex;
	flex-flow: column nowrap;
    padding-bottom: 6rem;
}

.video img{
    max-width:  100%;
    height: auto;
}

.video p{padding-left: 2%;}

.video p.title{
	font-family: 'ralewayregular';
	margin: 0;
	margin-top: 2%;
	font-size: 2rem;
}

.video p.caption{
	font-family: 'ralewaylight';
	margin: 0;
	font-size: 1rem; 
	
}

#footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	align-content: space-around;
    padding-bottom: 1rem;
    margin: 0 auto;
}

#circle-links{
	width: 50%;
	text-align: center;
}

@media all and (min-width: 750px){
    #hero{
        background-image: url(../img/empirestate_rain03.jpg);
    }
    
    #hero .heroTITLE p{
        font-size: 7rem;
    }
	
	
	#footer{
    	display: flex;
   	 	flex-flow: column wrap;
    	align-content: center;
    	text-align: center;
    	margin: 0 auto;
	}

	#circle-links{
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		padding-bottom: 2rem;
	}
}

@media all and (min-width: 1440px){
    #hero{
        background-image: url("../img/empirestate_rain04.jpg");
    }

    #hero .heroTITLE p{
        font-size:10rem;
    }
    
    .dropdown{
        display: none;
    }
	
	img.logo{
		text-align: right;
	}
    
    .large_menu{
        display: block;
        position: absolute;
        display: flex;
        width: 99vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
		justify-content: space-around;
        background-color: #C069A6;
        
        z-index: 9999;
       font-family: 'vigaregular';
    }
    
    .large_menu a{
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }
    
    .large_menu a:hover{
        color: #fbb09e;
    }
	
    
    .videos{
        width: 50%;
        padding-left: 23rem;
    }
	
	.bttn{
		width: 50%;
		margin-top: 3.5%;
	}
	
   
    #footer{
        padding-top: 10rem;
        width: 4%;

    }
}
